body{
   margin: 0;
   font-family: 'PT Sans', sans-serif;
   background-color: #2d2d2d;
   color: #afafaf;
   line-height: 35px;

}
h1, h2{
   font-family: 'Merriweather', serif;
   color: white;
}


header{
   background-color: #252525;
   color: navy;
   font-size: 50px;
   text-align: center;
   padding-top: 60px;
   padding-bottom: 50px;

}

/* komentarz */

header h1{
   color: white;
}
header img{
   border-radius: 221px;
    width: 400;
    border: 25px ridge whitesmoke;
    background-color: white;
}

main{
   max-width: 800px;
   margin: 0 auto;
   padding: 20px 20px 20px;
}
main img{
   max-width: 100%;
}

a{
   color: #afafaf;
}
a:hover{
   color: white;
   background-color: black;
}

footer{
   text-align: center;
   background-color: #202020;
   padding: 40px;
}

.caption{
   text-align: right;
   font-style: italic;
   margin-top: 0;
}
